<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE beans PUBLIC '-//SPRING//DTD BEAN//EN' 'http://www.springframework.org/dtd/spring-beans.dtd'>

<beans>
    <!-- This config will index tokens for all language searches and base language searches -->
    <!-- By default the serach will only find ML docs and content in the correct language -->
    <!-- ONLY USE THIS FOR CLEAN INSTALLATIONS UNTIL THERE IS A FIX TO SET LOCALE FOR ALL CONTENT -->
    <!--  - or old content will be indexed with no locale and you will not find it  ... -->
    
    <!-- See MLAnalysisMode for all the available options -->
    
    <bean id="admLuceneIndexerAndSearcherFactory"
        parent="abstractLuceneIndexerAndSearcherFactory"
        class="org.alfresco.repo.search.impl.lucene.ADMLuceneUnIndexedIndexAndSearcherFactory">
        <property name="nodeService">
            <ref bean="mlAwareNodeService" />
        </property>
        <property name="tenantService">
            <ref bean="tenantService"/>
        </property>
        <property name="dictionaryService">
            <ref bean="dictionaryService" />
        </property>
        <property name="nameSpaceService">
            <ref bean="namespaceService" />
        </property>
        <property name="contentService">
            <ref bean="contentService" />
        </property>
        <property name="queryRegister">
            <ref bean="queryRegisterComponent" />
        </property>
        <property name="threadPoolExecutor">
            <ref bean="indexThreadPoolExecutor"></ref>
        </property>
        <property name="bulkLoader">
            <ref bean="nodeDaoServiceImpl"></ref>
        </property>
		<property name="defaultMLSearchAnalysisMode">
            <value>EXACT_LANGUAGE</value>
        </property>
        
    </bean>
   
    
   
    
</beans>