version: 2
registries:
  maven-repository-artifacts-alfresco-com-nexus-content-groups-int:
    type: maven-repository
    url: https://artifacts.alfresco.com/nexus/content/groups/internal
    username: ${{secrets.NEXUS_USERNAME}}
    password: ${{secrets.NEXUS_PASSWORD}}
updates:
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: daily
    time: "22:00"
    timezone: Africa/Abidjan
  open-pull-requests-limit: 99
  ignore:
  - dependency-name: com.google.code.gson:gson
    versions:
    - "> 2.8.6"
  - dependency-name: io.fabric8:fabric8-maven-plugin
    versions:
    - "> 4.4.0"
  - dependency-name: javax.servlet:javax.servlet-api
    versions:
    - "> 3.0.1"
  - dependency-name: org.acegisecurity:acegi-security
    versions:
    - "> 0.8.2_patched"
  - dependency-name: org.activiti:activiti-engine
    versions:
    - "> 5.23.0"
  - dependency-name: org.activiti:activiti-engine
    versions:
    - ">= 7.1.a, < 7.2"
  - dependency-name: org.activiti:activiti-spring
    versions:
    - "> 5.23.0"
  - dependency-name: org.activiti:activiti-spring
    versions:
    - ">= 7.1.a, < 7.2"
  - dependency-name: org.apache.chemistry.opencmis:chemistry-opencmis-client-impl
    versions:
    - "> 1.0.0"
  - dependency-name: org.apache.chemistry.opencmis:chemistry-opencmis-commons-impl
    versions:
    - "> 1.0.0"
  - dependency-name: org.apache.chemistry.opencmis:chemistry-opencmis-server-bindings
    versions:
    - "> 1.0.0"
  - dependency-name: org.apache.chemistry.opencmis:chemistry-opencmis-test-tck
    versions:
    - "> 1.0.0"
  - dependency-name: org.freemarker:freemarker
    versions:
    - "> 2.3.20-alfresco-patched-20200421"
  - dependency-name: org.keycloak:keycloak-adapter-core
    versions:
    - "> 12.0.2"
  - dependency-name: org.keycloak:keycloak-adapter-spi
    versions:
    - "> 12.0.2"
  - dependency-name: org.keycloak:keycloak-authz-client
    versions:
    - "> 12.0.2"
  - dependency-name: org.keycloak:keycloak-common
    versions:
    - "> 12.0.2"
  - dependency-name: org.keycloak:keycloak-core
    versions:
    - "> 12.0.2"
  - dependency-name: org.keycloak:keycloak-servlet-adapter-spi
    versions:
    - "> 12.0.2"
  - dependency-name: org.eclipse.jetty:jetty-server
    versions:
    - 9.4.38.v20210224
  - dependency-name: org.alfresco.tas:cmis
    versions:
    - "1.28"
  - dependency-name: org.springframework:spring-webmvc
    versions:
    - 5.3.4
    - 5.3.5
  - dependency-name: org.springframework:spring-web
    versions:
    - 5.3.4
    - 5.3.5
  - dependency-name: org.springframework:spring-tx
    versions:
    - 5.3.4
    - 5.3.5
  - dependency-name: org.springframework:spring-orm
    versions:
    - 5.3.4
    - 5.3.5
  - dependency-name: org.springframework:spring-test
    versions:
    - 5.3.4
    - 5.3.5
  - dependency-name: org.springframework:spring-jms
    versions:
    - 5.3.4
    - 5.3.5
  - dependency-name: org.springframework:spring-jdbc
    versions:
    - 5.3.4
    - 5.3.5
  - dependency-name: org.springframework:spring-expression
    versions:
    - 5.3.4
    - 5.3.5
  - dependency-name: org.springframework:spring-core
    versions:
    - 5.3.4
    - 5.3.5
  - dependency-name: org.springframework:spring-context-support
    versions:
    - 5.3.4
    - 5.3.5
  - dependency-name: org.springframework:spring-context
    versions:
    - 5.3.4
    - 5.3.5
  - dependency-name: org.springframework:spring-beans
    versions:
    - 5.3.4
    - 5.3.5
  - dependency-name: org.springframework:spring-aop
    versions:
    - 5.3.4
    - 5.3.5
  - dependency-name: org.alfresco.tas:restapi
    versions:
    - "1.55"
  - dependency-name: org.eclipse.jetty:jetty-security
    versions:
    - 11.0.1
  - dependency-name: org.alfresco.aos-module:alfresco-vti-bin
    versions:
    - 1.4.0-M1
  - dependency-name: org.alfresco.aos-module:alfresco-aos-module-distributionzip
    versions:
    - 1.4.0-M1
  - dependency-name: org.alfresco.aos-module:alfresco-aos-module
    versions:
    - 1.4.0-M1
  - dependency-name: org.alfresco.surf:spring-webscripts-api
    versions:
    - "8.16"
  - dependency-name: org.alfresco.surf:spring-webscripts:tests
    versions:
    - "8.16"
  - dependency-name: org.alfresco.surf:spring-webscripts
    versions:
    - "8.16"
  - dependency-name: org.alfresco.surf:spring-surf-core-configservice
    versions:
    - "8.16"
  registries:
  - maven-repository-artifacts-alfresco-com-nexus-content-groups-int
