version: 2
registries:
  maven-repository-artifacts-alfresco-com-nexus-content-groups-int:
    type: maven-repository
    url: https://artifacts.alfresco.com/nexus/content/groups/internal
    username: ${{secrets.NEXUS_USERNAME}}
    password: ${{secrets.NEXUS_PASSWORD}}
updates:
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: daily
    time: "22:00"
    timezone: Africa/Abidjan
  open-pull-requests-limit: 99
  ignore:
  - dependency-name: org.acegisecurity:acegi-security
    versions:
    - "> 0.8.2_patched"
  - dependency-name: org.activiti:activiti-engine
    versions:
    - "> 5.23.0"
  - dependency-name: org.activiti:activiti-engine
    versions:
    - ">= 7.1.a, < 7.2"
  - dependency-name: org.activiti:activiti-spring
    versions:
    - "> 5.23.0"
  - dependency-name: org.activiti:activiti-spring
    versions:
    - ">= 7.1.a, < 7.2"
  - dependency-name: org.apache.chemistry.opencmis:chemistry-opencmis-client-impl
    versions:
    - "> 1.0.0"
  - dependency-name: org.apache.chemistry.opencmis:chemistry-opencmis-commons-impl
    versions:
    - "> 1.0.0"
  - dependency-name: org.apache.chemistry.opencmis:chemistry-opencmis-server-bindings
    versions:
    - "> 1.0.0"
  - dependency-name: org.apache.chemistry.opencmis:chemistry-opencmis-test-tck
    versions:
    - "> 1.0.0"
  - dependency-name: org.freemarker:freemarker
    versions:
    - "> 2.3.31-alfresco-patched"
  - dependency-name: org.alfresco.tas:cmis
    versions:
    - "1.28"
  - dependency-name: org.alfresco.tas:restapi
    versions:
    - "1.55"
  registries:
  - maven-repository-artifacts-alfresco-com-nexus-content-groups-int
- package-ecosystem: "docker"
  directory: "packaging/docker-alfresco/"
  schedule:
    interval: "daily"
    time: "22:00"
    timezone: Africa/Abidjan
