# Default line-endings for repo (works on check-in and check-out)
* text eol=crlf

# Binary files (do not alter line-endings) - from https://github.com/Alfresco/Aikau/blame/master/.gitattributes
*.bcmap binary
*.gif binary
*.jpg binary
*.mp3 binary
*.mp4 binary
*.pdf binary
*.png binary
*.PNG binary
*.woff binary