---
import:
  - source: travis-env-vars.yml
dist: xenial
sudo: required
language: java
jdk: openjdk11

addons:
  firefox: "43.0.1"

services:
  - xvfb
  - docker

git:
  depth: false
  quiet: true

branches:
  only:
    - master
    - /feature\/.*/
    - /merge\/.*/
    - /hotfix\/.*/

cache:
  directories:
    - ${HOME}/.m2/repository

# the cache can grow constantly
before_cache: rm -rf ${HOME}/.m2/repository/org/alfresco/alfresco-governance-services*

before_install:
  - mkdir -p "${HOME}/.m2" && cp -f .travis.settings.xml "${HOME}/.m2/settings.xml"
  - find "${HOME}/.m2/repository/" -type d -name "*-SNAPSHOT*" | xargs -r -l rm -rf
  - docker login quay.io -u ${QUAY_USERNAME} -p ${QUAY_PASSWORD}
  - docker login -u ${DOCKERHUB_USERNAME} -p ${DOCKERHUB_PASSWORD}
install: skip

stages:
  - name: Build AGS
  - name: Tests
    if: commit_message !~ /\[skip tests\]/
  - name: Security Scans
  - name: Release
  - name: Publish

jobs:
  include:
    - name: "Build AGS Community"
      stage: Build AGS
      before_script: source scripts/setUpMavenPhase.sh
      script:
        - travis_retry travis_wait 120 mvn -B -q clean ${MAVEN_PHASE} -P${BUILD_PROFILE} -Dimage.tag=${IMAGE_TAG} -Dskip.integrationtests=false -Dcommunity -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn

    - name: "Build AGS Enterprise"
      stage: Build AGS
      install:
        - travis_retry travis_wait 30 mvn -B deploy -N
        - travis_retry travis_wait 60 mvn -B -q clean install $MVN_SKIP -f rm-community/pom.xml -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
      before_script: source scripts/setUpMavenPhase.sh
      script:
        - travis_retry travis_wait 80 mvn -B -q ${MAVEN_PHASE} -P${BUILD_PROFILE} -Dimage.tag=${IMAGE_TAG} -Dskip.integrationtests=false -f rm-enterprise/pom.xml -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn

    - name: "Build AGS Benchmark"
      stage: Build AGS
      install:
        - travis_retry travis_wait 80 mvn -B -q clean install $MVN_SKIP -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
      before_script: source scripts/setUpMavenPhase.sh
      script:
        - travis_retry travis_wait 35 mvn -B -q ${MAVEN_PHASE} -Dskip.integrationtests=false -f rm-benchmark/pom.xml -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn

    - name: "Community Integrations Tests on MySQL"
      stage: Tests
      script:
        - echo "Community Integrations Tests on MySQL"
    - name: "Enterprise Integrations Tests on MySQL"
      stage: Tests
      script:
        - echo "Enterprise Integrations Tests on MySQL"
    - name: "Community Rest API Tests"
      stage: Tests
      install:
        - travis_retry travis_wait 90 mvn -B -q install $MVN_SKIP -PbuildDockerImage -pl :alfresco-governance-services-community-repo -am
      before_script:
        - bash scripts/startAlfresco.sh $COMMUNITY_REPO_PATH
        - bash scripts/waitForAlfrescoToStart.sh
      script:
        - echo "Community Rest API Tests"
    - name: "Enterprise Rest API Tests"
      stage: Tests
      install:
        - travis_retry travis_wait 90 mvn -B -q install $MVN_SKIP -PbuildDockerImage -pl :alfresco-governance-services-enterprise-repo -am
      before_script:
        - bash scripts/startAlfresco.sh $ENTERPRISE_REPO_PATH
        - bash scripts/waitForAlfrescoToStart.sh
      script:
        - echo "Enterprise Rest API Tests"

    - name: "Enterprise Rest API WORM Tests"
      stage: Tests
      install:
        - travis_retry travis_wait 90 mvn -B -U -q clean install ${MVN_SKIP} -PbuildDockerImage -pl :alfresco-governance-services-enterprise-repo,:alfresco-governance-services-enterprise-share -am
        - travis_retry travis_wait 30 mvn -B -U -q clean install ${MVN_SKIP} -pl :alfresco-governance-services-automation-enterprise-rest-api -am
      before_script:
        - bash scripts/create-worm-bucket.sh
        - bash scripts/start-compose.sh "${ENTERPRISE_SHARE_PATH}/docker-compose-worm-support-rest.yml"
        - bash scripts/waitForAlfrescoToStart.sh
      script: mvn -B test -pl :alfresco-governance-services-automation-enterprise-rest-api -DsuiteXmlFile=wormTestSuite.xml -Dskip.automationtests=false
      after_script: bash scripts/cleanup.sh
      after_failure: docker ps -a | grep '_alfresco_1' | awk '{print $1}' | xargs docker logs | tail -5000

    - name: "Community UI Tests ..."
      stage: Tests
      install:
        - travis_retry travis_wait 90 mvn -B -q install $MVN_SKIP -PbuildDockerImage -pl :alfresco-governance-services-community-repo,:alfresco-governance-services-community-share -am
      before_script:
        - bash scripts/startAlfresco.sh $COMMUNITY_SHARE_PATH
        - bash scripts/waitForAlfrescoToStart.sh
      script:
        - echo "Community UI Tests ..."
    - name: "Enterprise UI Tests ..."
      stage: Tests
      install:
        - travis_retry travis_wait 90 mvn -B -q install $MVN_SKIP -PbuildDockerImage -pl :alfresco-governance-services-enterprise-repo,:alfresco-governance-services-enterprise-share -am
      before_script:
        - bash scripts/startAlfresco.sh $ENTERPRISE_SHARE_PATH
        - bash scripts/waitForAlfrescoToStart.sh
      script:
        - echo "Enterprise UI Tests ..."

    - name: "Enterprise UI WORM Tests"
      stage: Tests
      install:
        - travis_retry travis_wait 90 mvn -B -U -q clean install ${MVN_SKIP} -PbuildDockerImage -pl :alfresco-governance-services-enterprise-repo,:alfresco-governance-services-enterprise-share -am
        - travis_retry travis_wait 30 mvn -B -U -q clean install ${MVN_SKIP} -pl :alfresco-governance-services-automation-enterprise-rest-api -am
      before_script:
        - bash scripts/create-worm-bucket.sh
        - bash scripts/start-compose.sh "${ENTERPRISE_SHARE_PATH}/docker-compose-worm-support-ui.yml"
        - bash scripts/waitForAlfrescoToStart.sh
      script: mvn -B test -pl :alfresco-governance-services-automation-ui -DsuiteXmlFile=wormTestSuite.xml -Dskip.automationtests=false -Dshare.url=${SHARE_URL} -Dalfresco.url=${ALFRESCO_URL} -Dwebdriver.local.grid=true -Dwebdriver.browser=RemoteFireFox -Dwebdriver.localGrid=false -Dwebdriver.element.wait.time=20000 -Dwebdriver.page.render.wait.time=60000
      after_script: bash scripts/cleanup.sh
      after_failure: docker ps -a | grep '_alfresco_1' | awk '{print $1}' | xargs docker logs | tail -5000

    - name: "Source Clear Scan (SCA)"
      stage: Security Scans
      script:
       - echo "Source Clear Scan (SCA)"
    - name: "Static Analysis (SAST)"
      stage: Security Scans
      script:
       - echo "Static Analysis (SAST)"

    - name: "Community Release"
      stage: Release
      script:
        - echo "Community Release"
    - name: "Enterprise Release"
      stage: Release
      script:
        - echo "Enterprise Release"

    - name: "Copy to S3 Release Bucket"
      stage: Publish
      script:
        - echo "Copy to S3 Release Bucket"
