body 
{
   font-family: Tahoma, Arial, Helvetica, sans-serif;
   background-color: white;
   margin: 3px;
}

p
{
   font-family: Tahoma, Arial, Helvetica, sans-serif;
}

table.moduletable td
{
   font-family: Tahoma, Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: normal;
}

td,tr,p,div
{
   color: #004488;
   font-family: Tahoma, Arial, Helvetica, sans-serif;
   font-size: 11px;
}

th
{
   vertical-align: top;
   padding-left: 1px;
   padding-right: 1px;
}

p.status
{
   margin:0px;
   padding-left:0px;
   padding-top:4px;
   padding-bottom:4px;
}

a:link, a:visited
{
   font-size: 11px;
   color: #004488;
   text-decoration: none;
   font-family: Tahoma, Arial, Helvetica, sans-serif;
   font-weight: normal;
}

a:hover
{
   color: #4272B4;
   text-decoration: underline;
   font-weight: normal;
}

a.path:link, a.path:visited
{
   font-size: 14px;
   color: #004488;
   text-decoration: none;
   font-weight: normal;
}

a.path:hover
{
   font-size: 14px;
   color: #4272B4;
   text-decoration: underline;
   font-weight: normal;
}

a.header:link, a.header:visited
{
   font-weight: bold;
}

a.header:hover
{
   font-weight: bold;
}

a.title:link, a.title:visited
{
   font-size: 12px;
   font-weight: bold;
}

a.title:hover
{
   font-size: 12px;
   font-weight: bold;
}

a.moreactions:link, a.moreactions:visited
{
   vertical-align: 30%;
   font-size: 10px;
}

a.moreactions:hover
{
   vertical-align: 30%;
   font-size: 10px;
}

a.small:link, a.small:visited
{
   font-size: 11px;
   font-weight: normal;
   color: #004488;
}

a.small:hover
{
   font-size: 11px;
   font-weight: normal;
   color: #4272B4;
}

a.footer:link, a.footer:visited
{
   font-size: 10px;
   text-decoration: underline;
   color: #004488;
}

a.footer:hover
{
   font-size: 10px;
   text-decoration: underline;
   color: #4272B4;
}

.footer
{
   font-family:Arial,Helvetica;
   font-size: 10px;
}

.pageTitle
{
   color: #004488;
   font-size: 14px;
}

.main
{
   color: #004488;
   font-size: 11px;
}

.mainTitle
{
   color: #004488;
   font-size: 16px;
   font-weight: bold;
   vertical-align: middle;
}

.mainSubTitle
{
   color: #004488;
   font-size: 11px;
   font-weight: bold;
   padding: 2px;
}

.mainSubText
{
   color: #004488;
   font-size: 11px;
   padding: 2px;
}

.summary
{
   color: #004488;
   font-size: 11px;
   padding-left: 8px;
   padding-right: 8px;
   margin-top: 4px;
   border: 1px solid #dddddd;
}

a.headbarLink
{
   color: #004488;
   font-size: 11px;
   font-weight: normal;
}

.headbarTitle
{
   color: #004488;
   font-size: 12px;
   font-weight: bold;
   margin-top: 5px;
   margin-bottom: 5px;
   background: #dfe6ed;
   vertical-align: center;
   padding-left: 6px;
}

.mainSubTextSmall
{
   color: #004488;
   font-size: 10px;
}

.separator
{
   background-color: transparent;
}

.moreActionsMenu
{
   background-color: #f5f5f5;
   border-top: 1px solid #cacfd3;
   border-left: 1px solid #cacfd3;
   border-right: 1px solid #cacfd3;
   border-bottom: 1px solid #cacfd3;
}

.infoText
{
   background-color: #FFFFCC;
   color: #1B3557;
}

.statusInfoText
{
   font-size: 11px;
}

.statusWarningText
{
   font-size: 11px;
   color: #4272B4;
}

.statusErrorText
{
   font-size: 11px;
   color: #e00028;
}

.recordSet
{
   padding: 2px;
   border-spacing: 1px;
}

.recordSetRow
{
   background-color: #FFFFFF;
   vertical-align: top;
}

.recordSetRowAlt
{
   background-color: #F5F5F5;
   vertical-align: top;
}

.recordSetHeader
{
   color: #004488;
   font-weight: bold;
   border-bottom: 1px solid #cacfd3;
}

.errorMessage
{
   font-size: 11px;
   color: #e00028;
   padding: 4px;
}

.statusMessage
{
   font-size: 11px;
   color: #4272B4;
   padding-top: 6px;
   display: block;
}

input,textarea,select
{
   font-family: Tahoma, Arial, Helvetica, sans-serif;
   font-size: 11px;
}

.dialogControls
{
   font-size: 11px;
}

.dialogButtonSpacing
{
   height: 5px;
}

.topToolbar
{
}

.topToolbarTitle
{
   color: #004488;
   font-weight: normal;
   padding-left: 5px;
}

a.topToolbarLink, a.topToolbarLink:link, a.topToolbarLink:visited
{
   color: 004488;
   font-weight: normal;
   font-size: 12px;
}

.topToolbarHighlight
{
   background-color:#FFFFFF;
   border: 1px solid #5D6B71;
}

a.topToolbarLinkHighlight, a.topToolbarLinkHighlight:link, a.topToolbarLinkHighlight:visited
{
   color:#5D747F;
   font-weight: bold;
}

.statusListHighlight
{
   background-color:#FFFFFF;
   border: 1px solid #babfc5;
}

.statusListDisabled
{
   color: #93a8b2;
}

.inlineAction
{
   padding-right:3px;
}

.paddingRow
{
   padding-top: 3px;
}

.filterBorders
{
   padding: 2px;
   background-color: #f5f5f5;
   border-width: 1px;
   border-style: solid;
   border-color: #DDDDDD;
}

.recoveredItemsList
{
   padding: 2px;
   background-color: #EEEEEE;
   border-width: 1px;
   border-style: solid;
   border-color: #AAAAAA;
}

.failedItemsList
{
   padding: 2px;
   background-color: #EEEEEE;
   border-width: 1px;
   border-style: solid;
   border-color: #e00028;
}

.wizardSectionHeading
{
   padding: 2px;
   background-color: #ECECEC;
   font-weight: bold;
}

.wizardButton
{
   font-size: 11px;
}

.wizardButtonSpacing
{
   height: 5px;
}

.propertiesLabel
{
   padding-right: 20px;
   color: #93a8b2;
}

.selector
{
   border: 1px dashed #cccccc;
   padding: 4px;
}

.selectedItems
{
   border: 1px solid #DEE5EC;
}

.selectedItemsHeader
{
   padding: 4px;
   background-color: #c6d8eb;
   font-weight: bold;
   text-align: left;
}

.selectedItemsRow
{
   padding: 4px;
}

.selectedItemsRowAlt
{
   padding: 4px;
   background-color: #e9f0f4;
}

.pager
{
   padding: 4px 2px 3px 2px;
   border: 1px dotted #cccccc;
}

.pager img
{
   margin-top:2px;
   vertical-align: -20%;
}

.alignTop
{
   vertical-align: top;
}

.alignMiddle
{
   vertical-align: middle;
}

.tableThirdWidth
{
   width: 33%;
   vertical-align: top;
}

.tableNarrowWidth
{
   width: 30%;
   vertical-align: top;
}

.tableWideWidth
{
   width: 70%;
   vertical-align: top;
}

.summaryPopupPanel
{
   background-color: #e9f0f4;
   border: 1px solid #999999;
   padding: 4px;
   -moz-border-radius: 4px;
}

.userGroupPickerList
{
   padding: 2px;
   background-color: #EEEEEE;
   border-width: 1px;
   border-style: solid;
   border-color: #AAAAAA;
}

.workflowSelection
{
   border: 1px solid #676767; 
   background-color: #efefef; 
   padding: 6px 12px 12px 6px;
}

.workflowSummary
{
   margin-left: 6px;
}

.workflowSummary td
{
   padding-right: 9px;
   padding-top: 4px;
}

.nodeWorkflowInfoTitle
{
   font-weight: bold;
   color: #004488;
   padding-top: 3px;
   padding-bottom: 3px;
}

.nodeWorkflowInfoText
{
   padding-bottom: 8px;
}

.selectListTable
{
   border: 1px solid #999999;
   padding-top: 2px;
   padding-left: 2px;
   padding-right: 2px;
}

.selectListItem
{
   background-color: #eeeeee;
   border-bottom: 2px solid #ffffff;
}

.modifiedItemsList
{
   background-color: #f5f5f5;
   border-width: 1px;
   border-style: solid;
   border-color: #DDDDDD;
}

.snapshotItemsList
{
   background-color: #f5f5f5;
   border-width: 1px;
   border-style: solid;
   border-color: #DDDDDD;
}

#pluginBox
{
   border: 1px solid #babfc5;
}

.shelf
{
   min-width: 220px;
   *width: 100%;
}

.navigator
{
   min-width: 220px;
}

.navigatorPanelBody
{
   height: 330px;
   width: 220px;
   overflow: auto;
}

.panelGridRequiredImageColumn
{
  width: 20px;
}

.panelGridLabelColumn
{
  white-space: nowrap;
  width: 25%;
}

.panelGridValueColumn
{
  width: 100%;
}

.sidebarButtonSelected
{
   color: #004488;
   font-size: 11px;
   font-weight: normal;
   padding: 5px;
   background: #67a4e6 repeat-x; 
   border-bottom: 1px solid #d3d7cf;
}

a.sidebarButtonSelectedLink, a.sidebarButtonSelectedLink:link, a.sidebarButtonSelectedLink:visited
{
   color: #fff;
   font-weight: normal;
   font-size:12px;
}

.sidebarButton
{
   color: #004488;
   font-size: 12px;
   font-weight: normal;
   padding: 5px;
   background: #dddddd repeat-x;
   border-top: 1px solid #c8ccd1;
}

a.sidebarButtonLink, a.sidebarButtonLink:link, a.sidebarButtonLink:visited
{
   color: #004488;
   font-weight: normal;
   font-size:12px;
}
