html, body {
   height: 100%;
   overflow: hidden;
   font-family: tahoma, sans-serif;
   font-size: 11px;
   color: #0073e6;
   background: url("../images/office/view_bg.gif") top;
}

body {
   margin: 0px;
   padding: 0px;
}

a {
   color: #0073e6;
   text-decoration: none;
}

a img {
   border: 0px;
}

.bold {
   font-weight: bold;
}

#tabBar {
   float: left;
   width: 100%;
   background: #efefef;
   border-bottom: 1px solid #ccc;
}
#tabBar ul {
   margin: 0px;
   padding: 4px 10px 0px 4px;
   list-style: none;
}
#tabBar li {
   display: inline;
   margin: 0px;
   padding: 0px;
}
#tabBar a {
   background: url("../images/office/tab_left.gif") no-repeat left top;
   float:left;
   margin: 0px;
   padding: 0px 0px 0px 4px;
   text-decoration: none;
}
#tabBar a span {
   background: url("../images/office/tab_right.gif") no-repeat right top;
   color: #666;
   display: block;
   float: none;
   padding: 5px 15px 4px 6px;
   height: 18px;
}

#tabBar a:hover span {
   color: #FFF;
}
#tabBar a:hover {
   background-position: 0% -42px;
}
#tabBar a:hover span {
   background-position: 100% -42px;
}

#tabBar #current a {
   background-position: 0% -42px;
}
#tabBar #current a span {
   background-position: 100% -42px;
}

.header {
   clear: both;
   width: 282px;
   padding: 6px 0px 2px 4px;
   font-weight: bold;
   float: left;
}

.headerExtra {
   font-weight: normal;
   float: right;
   margin-top: -13px;
}

.listBig {
   clear: both;
   float: left;
   width: 282px;
   height: 378px;
   overflow: auto;
   border: 1px solid #cccccc;
   margin: 0px 4px 0px 4px;
   background: #fff;
}
.listMedium {
   clear: both;
   float: left;
   width: 282px;
   height: 204px;
   overflow: auto;
   border: 1px solid #cccccc;
   margin: 0px 4px 0px 4px;
   background: #fff;
}

.listMediumGrow {
   height: 354px !important;
}
.listMediumShrink {
   height: 54px !important;
}

.odd {
   background-color: #f8f8f8 !important;
   border-bottom: 1px solid #eee;
}
.even {
   background-color: #ffffff !important;
   border-bottom: 1px solid #eee;
}

#currentSpaceInfo {
   clear: both;
   float: left;
   width: 282px;
   height: 34px;
   overflow: none;
   border: 1px solid #cccccc;
   margin: 4px 4px 0px;
   padding: 4px 0px 0px;
   background: #fff;
}

TABLE, TR, TD {
   border: 0px;
   border-collapse: collapse;
   padding: 2px;
}

ul {
   margin: 0px;
   list-style: none;
   padding: 2px 0px 0px 4px;
}

#documentActions {
   clear: both;
   background-color: #ffffcc;
   border: 1px solid #ccc;
   float: left;
   margin: 0px 4px;
   height: 150px;
   width: 282px;
}

#documentActionsNavigation {
   clear: both;
   background-color: #ffffcc;
   border: 1px solid #ccc;
   float: left;
   margin: 0px 4px;
   height: 106px;
   width: 282px;
}

#nonStatusText {
   min-height: 100%;
   position: relative;
}

#searchResultsList {
   min-height: 100%;
   position: relative;
}

#statusText {
   border: none;
   float: left;
   margin: -22px 0px;
   padding: 2px;
   position: relative;
   height: 17px;
   width: 278px;
}

#search {
   clear: both;
   float: left;
   width: 282px;
   border: 1px solid #cccccc;
   margin: 0px 4px;
   background: #fff;
}

input.button {
   color: #0073e6;
   font-size: 11px;
   font-weight: bold;
   background-color: #cce6ff;
   border: 1px solid #0073e6;
   filter:progid:DXImageTransform.Microsoft.Gradient
   (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#6fb7ff');
   cursor: pointer;
   margin-left: 6px;
}

#taskDetails {
   padding: 2px;
}

.taskItem {
   cursor: pointer;
}

.taskItemSelected {
   background-color: #ffe500 !important;
}

.taskResources {
   border: 1px solid #ccc;
   margin: 4px;
   height: 128px;
   overflow: auto;
}

.taskAction {
   color: #0073e6;
   float: left;
   font-size: 11px;
   font-weight: bold;
   background-color: #cce6ff;
   border: 1px solid #0073e6;
   cursor: pointer;
   margin: 0px 0px 0px 2px;
   padding: 4px;
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ffffffff',EndColorStr='#6fb7ff');
}

.taskParameters {
   border: 1px solid #ccc;
   margin: 4px;
   height: 200px;
   overflow: auto;
}

.taskParam {
   clear: both;
   float: left;
   padding: 2px 0px 0px 4px;
   width: 64px;
}

.taskValue {
   float: left;
   padding: 2px 0px 0px 0px;
   width: 164px;
}

#ajxUser {
   float: left;
   margin: 2px;
}

/* Autocomplete pop-up */
ul.autocompleter-choices
{
   position: absolute;
   margin: 0px;
   padding: 0px;
   list-style: none;
   border: 1px solid #ccc;
   background-color: white;
   border-right-color: #ddd;
   border-bottom-color: #ddd;
   text-align: left;
   z-index: 50;
}

ul.autocompleter-choices li
{
   position: relative;
   padding: 0.1em 1.5em 0.1em 1em;
   cursor: pointer;
   font-weight: normal;
   font-size: 1em;
}

ul.autocompleter-choices li.autocompleter-selected
{
   background-color: #444;
   color: #fff;
}

ul.autocompleter-choices span.autocompleter-queried
{
   font-weight: bold;
}

ul.autocompleter-choices li.autocompleter-selected span.autocompleter-queried
{
color: #9FCFFF;
}
