.header {
   padding: 5px 0px 0px 4px;
   margin: 0px 0px 0px -1px;
   height: 16px;
}

.toggle {
   margin-top: 0px;
   position: relative;
   top: -2px;
}

.containerBig, .containerBigAlt, .containerMedium, .containerSmall, .containerSearchTerms, .containerSearchResults, .containerTabMedium, #currentSpaceInfo, #myAlfrescoActions, #navigationActions, #documentActions {
   margin: 0px 4px 0px 1px;
}

#documentActionsNavigation ul {
   padding: 2px 0px 0px 24px;
}
