html {
   overflow: hidden;
}

body {
   background: url("../images/office/view_bg.gif") top;
   color: #0073e6;
   font-family: tahoma, sans-serif;
   font-size: 11px;
   height: 100%;
   margin: 0px;
   padding: 0px;
   overflow: hidden;
}

#overlayPanel
{
   background-color: #ffffff;
   position: absolute;
   left: 0px;
   top: 0px;
   height: 652px;
   width: 290px;
   z-index: 1;
}

a {
   color: #0073e6;
   text-decoration: none;
   outline: none;
}

a img {
   border: 0px;
}

TABLE, TD {
   border: 0px;
   border-collapse: collapse;
   padding: 2px;
}

ul {
   margin: 0px;
   list-style: none;
   padding: 2px 0px 0px 2px;
}

input.button {
   background-color: #cce6ff;
   border: 1px solid #0073e6;
   color: #0073e6;
   font-size: 11px;
   font-weight: bold;
   cursor: pointer;
   margin-left: 6px;
   padding: 1px 4px;
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#cce6ff');
}

.bold {
   font-weight: bold;
   overflow-x: hidden;
}

.tabBar {
   float: left;
   width: 100%;
   background: #efefef;
   border-bottom: 1px solid #ccc;
}
.tabBar ul {
   margin: 0px;
   padding: 4px 10px 0px 4px;
   list-style: none;
}
.tabBar li {
   display: inline;
   margin: 0px;
   padding: 0px;
   height: 18px;
}
.tabBar a {
   background: url("../images/office/tab_left.gif") no-repeat left top;
   float:left;
   margin: 0px;
   padding: 0px 0px 0px 4px;
   text-decoration: none;
}
.tabBar a span {
   background: url("../images/office/tab_right.gif") no-repeat right top;
   color: #666;
   display: block;
   float: none;
   padding: 5px 15px 4px 6px;
}

.tabBar a:hover span {
   color: #FFF;
}
.tabBar a:hover {
   background-position: 0% -42px;
}
.tabBar a:hover span {
   background-position: 100% -42px;
}

.tabBar #current a {
   background-position: 0% -42px;
}
.tabBar #current a span {
   background-position: 100% -42px;
}

.tabBarInline {
   clear: left;
   float: left;
   margin: 0px 4px;
   width: 284px;
}
.tabBarInline ul {
   margin: 0px;
   padding: 4px 10px 0px 4px;
   list-style: none;
}
.tabBarInline li {
   display: inline;
   margin: 0px;
   padding: 0px;
   height: 18px;
}
.tabBarInline a {
   background: url("../images/office/tab_left.gif") no-repeat left top;
   float:left;
   margin: 0px;
   padding: 0px 0px 0px 4px;
   text-decoration: none;
}
.tabBarInline a span {
   background: url("../images/office/tab_right.gif") no-repeat right top;
   color: #666;
   display: block;
   float: none;
   padding: 5px 15px 4px 6px;
}

.tabBarInline a:hover span {
   color: #FFF;
}
.tabBarInline a:hover {
   background-position: 0% -42px;
}
.tabBarInline a:hover span {
   background-position: 100% -42px;
}

.tabBarInline .current a {
   background-position: 0% -42px;
}
.tabBarInline .current a span {
   background-position: 100% -42px;
}

.tabPanel {
}

.tabPanelHidden {
   display: none;
}

.header {
   clear: both;
   font-weight: bold;
   float: left;
   padding: 6px 2px 2px 4px;
   height: 13px;
   width: 282px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space:nowrap;
}

.tabHeader {
   background: #ffffff;
   border: 1px solid #cccccc;
   border-bottom: none;
   clear: both;
   font-weight: bold;
   float: left;
   margin: 0px 4px;
   padding: 2px;
   height: 13px;
   width: 278px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.headerExtra {
   font-weight: normal;
   float: right;
   height: 13px;
   margin: -13px 0px 0px 0px;
}

.taskKey {
   float: left;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}

.toggle {
   background: transparent url("../images/office/arrow_up.gif") no-repeat;
   cursor: pointer;
   display: block;
   float: left;
   margin: -3px -1px 0px 4px;
   height: 16px;
   width: 16px;
}
.toggled {
   background-image: url("../images/office/arrow_down.gif") !important;
}

.containerBig {
   clear: both;
   float: left;
   width: 282px;
   height: 373px;
   overflow: auto;
   border: 1px solid #cccccc;
   margin: 0px 4px 0px 4px;
   background: #fff;
}
.containerMedium {
   clear: both;
   float: left;
   width: 282px;
   height: 200px;
   overflow: auto;
   border: 1px solid #cccccc;
   margin: 0px 4px 0px 4px;
   background: #fff;
}
.containerSmall {
   clear: both;
   float: left;
   width: 282px;
   height: 89px;
   overflow: auto;
   border: 1px solid #cccccc;
   margin: 0px 4px 0px 4px;
   background: #fff;
}

.containerSearchTerms {
   clear: both;
   float: left;
   width: 282px;
   height: 76px;
   overflow: auto;
   border: 1px solid #cccccc;
   margin: 0px 4px 0px 4px;
   background: #fff;
}
.containerSearchResults {
   clear: both;
   float: left;
   width: 282px;
   height: 497px;
   overflow: auto;
   border: 1px solid #cccccc;
   margin: 0px 4px 0px 4px;
   background: #fff;
}
.containerTabMedium {
   clear: both;
   float: left;
   width: 282px;
   height: 174px;
   overflow: auto;
   border: 1px solid #cccccc;
   border-top: none;
   margin: 0px 4px 0px 4px;
   background: #fff;
}


#checkedoutList, #taskList, #spaceList, #documentList, #versionList, #taggedList, #resultsList {
   overflow-y: scroll;
}

.odd {
   background-color: #f8f8f8 !important;
}
.even {
   background-color: #ffffff !important;
}
.new {
   background-color: #ffffcc !important;
   cursor: pointer;
}
.noItems {
   text-align: center;
   padding-top: 20px;
}

#currentSpaceInfo {
   background: #fff;
   border: 1px solid #cccccc;
   clear: both;
   float: left;
   height: 34px;
   width: 280px;
   overflow: none;
   margin: 0px 4px;
   padding: 2px 0px 2px 2px;
}

#createSpaceContainer {
   border-bottom: 1px dashed #ccc;
   overflow: hidden;
   padding: 2px 2px 0px;
   width: 261px;
}

#createSpace {
   cursor: pointer;
}

#createSpacePanel {
   display: none;
   overflow: hidden;
}

#createSpaceParameters {
   background-color: #ffffcc;
   border: 1px solid #ccc;
   float: left;
   margin: 2px;
   padding: 2px 0px 4px 0px;
   overflow: hidden;
}

.spaceParam {
   clear: both;
   float: left;
   padding: 4px 4px 0px 0px;
   text-align: right;
   width: 64px;
}

.spaceValue {
   float: left;
   padding: 2px 0px 0px 0px;
   width: 180px;
}
.spaceValue select, .spaceValue input, .spaceValue textarea {
   font-family: tahoma, sans-serif;
   font-size: 8pt;
   margin: 0px 1px 1px 1px;   
   padding: 0px 0px 0px 0px;
   width: 168px;
}

.spaceAction {
   background-color: #cce6ff;
   border: 1px solid #0073e6;
   color: #0073e6;
   float: left;
   font-size: 11px;
   font-weight: bold;
   cursor: pointer;
   margin: 0px 4px 0px 2px;
   padding: 4px;
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#cce6ff');
}

.spaceItem {
   border-bottom: 1px solid #eee;
   padding: 2px 0px 6px 0px;
   height: 26px;
   width: 265px;
}

.documentItem {
   float: left;
   border-bottom: 1px solid #eee;
   padding: 2px 0px 6px 0px;
   width: 265px;
}

.documentItemIcon {
   float: left;
   width: 36px;
   padding: 0px 2px 0px 1px;
}

.documentItemDetails {
   float: left;
   width: 226px;
}

.actionsPanel {
   clear: both;
   background-color: #ffffcc;
   border: 1px solid #ccc;
   float: left;
   margin: 0px 4px;
   width: 282px;
}
.actionsPanel ul {
   padding: 2px 0px 0px 24px;
}
.actionsPanel li a {
   font-weight: bold;
   margin: 0px 0px 0px -22px;
}
.actionsPanel li a img {
   margin: 0px 0px -2px 0px;
   padding: 0px 3px 0px 0px;
}


#myAlfrescoActions {
   height: 150px;
}
#documentActions {
   height: 149px;
}
#navigationActions {
   height: 89px;
}

#saveDetailsPanel
{
   position: absolute;
   border: 1px solid #CCD4DB;
   background-color: #EEF7FB;
   height: 40px;
   width: 267px;
   margin: 8px 0px 0px;
   padding: 8px;
   display: none;
   z-index: 1;
   -moz-border-radius: 5px;
}

.saveDetailsItem
{
   background-color: #ffffff;
   border: 1px solid #CCD4DB;
   color: #0073e6;
   float: left;
   font-size: 11px;
   margin: 0px 4px 4px 4px;
   padding: 2px;
}

#nonStatusText {
   height: 100%;
   min-height: 100%;
   position: relative;
}

#statusText {
   border: none;
   float: left;
   margin: -22px 0px;
   padding: 2px;
   position: relative;
   height: 17px;
   width: 278px;
}

.searchBox {
   padding: 2px;
}

.searchParam {
   float: left;
   padding: 2px;
}

#searchText {
   font-family: tahoma, sans-serif;
   font-size: 8pt;
   padding: 1px 0px 1px 2px;
   width: 160px;
}

#searchResultsList {
   overflow: hidden;
}

.checkedoutItem {
   border-bottom: 1px solid #eee;
}

#taskDetails {
   padding: 2px;
}

.taskItem {
   cursor: pointer;
   border-bottom: 1px solid #eee;
   float: left;
   padding: 4px 0px;
}

.taskIndicator {
   display: block;
   float: left; 
   height: 12px;
   padding: 0px 0px 0px 2px;
   width: 12px;
}

.taskItemDetails {
   display: block;
   float: left;
   width: 251px;
}

.taskItemSelected {
   background-color: #ffff90 !important;
}

.taskResources {
   border: 1px solid #ccc;
   margin: 4px;
   height: 128px;
   overflow: auto;
}

.taskActionContainer {
   float: left;
   width: 272px;
}

.taskActions {
   float: left;
   padding-right: 2px;
}

.taskManage {
   float: right;
}

.taskAction {
   background-color: #cce6ff;
   border: 1px solid #0073e6;
   color: #0073e6;
   float: left;
   font-size: 11px;
   font-weight: bold;
   cursor: pointer;
   margin: 0px 0px 0px 4px;
   padding: 4px;
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#cce6ff');
}

.taskParameters {
   border: 1px solid #ccc;
   margin: 4px;
   height: 160px;
   overflow: auto;
}

.taskParam {
   clear: both;
   float: left;
   padding: 4px 4px 0px 0px;
   text-align: right;
   width: 62px;
}

.taskValue {
   float: left;
   padding: 2px 0px 0px 0px;
   width: 196px;
}
.taskValue img {
   margin: 0px 0px -2px -2px;
}
.taskValue select, .taskValue input, .taskValue textarea {
   font-family: tahoma, sans-serif;
   font-size: 8pt;
   padding: 1px 0px 1px 2px;
   width: 172px;
}

/* Autocomplete pop-up */
ul.autocompleter-choices
{
   position: absolute;
   margin: 0px;
   padding: 0px;
   list-style: none;
   border: 1px solid #ccc;
   background-color: white;
   text-align: left;
   z-index: 50;
}

ul.autocompleter-choices li
{
   position: relative;
   padding: 0.1em 0.5em 0.1em 1em;
   cursor: pointer;
   font-weight: normal;
   font-size: 1em;
}

ul.autocompleter-choices li.autocompleter-selected
{
   background-color: #eee;
   border: 1px solid #ccc;
}

ul.autocompleter-choices span.autocompleter-queried
{
   font-weight: bold;
}

ul.autocompleter-choices li.autocompleter-selected span.autocompleter-queried
{
   color: #9FCFFF;
}

/* Date Picker */
#date-picker {
   margin-top: 3px;
   position: absolute;
   top: -1000px;
   left: 1000px;
   visibility: hidden;
}

#date-wrapper {
   font-weight: normal !important;
   font-size: 11px !important;
   margin: 0px 1px;
}

#date-wrapper .date-table {
   padding: 0px;
   margin: 0px;
   border: 1px solid #666;
   border-collapse: collapse;
}

#date-wrapper .date-table th, #date-wrapper .date-table td {
   background-color: #fff;
   padding: 3px 5px;
   text-align: center;
   border: 1px solid #c0c0c0;
}

#date-wrapper .date-table td {
   background-color: #f8f8f8;
   padding: 3px;
}

#date-wrapper .date-table td.date-monthswitch, #date-wrapper .date-table td.date-yearswitch {
   cursor: pointer;
   padding: 1px;
}

#date-wrapper .date-table td.date-monthandyear {
   font-weight: bold;
}

#date-wrapper .date-table th {
   background-color: #004080;
   color: #fff;
   padding: 2px 5px;
   text-align: center;
}

#date-wrapper .date-table tr {
   padding: 3px 5px;
}

#date-wrapper td.date-weekend {
   font-weight: bold;
   background-color: #ffc;
}

#date-wrapper td.date-workday {
   font-weight: bold;
   background-color: #fff;
}

#date-wrapper td.date-offmonth {
   background-color: #fff;
   color: #ccc;
}

#date-wrapper td.date-day {
   cursor: pointer;
}

#date-wrapper td.date-todayfooter {
   background-color: #f8f8f8;
   cursor: pointer;
}


/* Date highlighting */
#date-wrapper td.date-today {
   background-color: #ffe500;
}

#date-wrapper td.date-picked {
   border: 2px solid #0073e6;
   margin: -4px;
}

#date-wrapper td.date-tdover {
   background-color: #0073e6;
   color: #fff;
}

/* Document tags */
.addTagIcon {
   background: url("../images/office/new_tag.gif") no-repeat;
   float: left;
   height: 16px;
   width: 16px;
   margin: 2px 4px;
}

#addTagLinkContainer {
   height: 16px;
   margin: 3px 0px;
}

#addTagFormContainer {
   display: none;
}

#addTagForm {
   margin: 1px;
}

#addTagBox {
   border: 1px solid #cccccc;
   height: 14px;
   margin: 0px 0px 0px;
   padding: 1px;
   color: #0073e6;
   font-family: tahoma, sans-serif;
   font-size: 11px;
}

.addTagImage {
   margin: 0px 0px -2px;
   outline: none;
}

.tagListEntry {
   cursor: pointer;
   margin: 1px 0px;
   padding: 0px 4px;
}

.tagListDelete {
   color: #ccc;
   font-size: 11px;
}

.tagListName {
}

/* Tag cloud */
#tagCloud {
   line-height: 2em;
   padding: 4px;
}

#tagCloud .tagContainer {
   float: left;
   padding: 2px;
}

#tagCloud a {
   cursor: pointer;
   padding: 1px;
}

#tagCloud a.tagSelected {
   background-color: #ffff90;
}

#tagCloud .tagName0 {
   font-size: 11px;
}
#tagCloud .tagName1 {
   font-size: 12px;
}
#tagCloud .tagName2 {
   font-size: 13px;
}
#tagCloud .tagName3 {
   font-size: 14px;
}
#tagCloud .tagName4 {
   font-size: 15px;
}
#tagCloud .tagName5 {
   font-size: 16px;
}

#tagCloud .tagCount {
   color: #cccccc;
   font-size: 11px;
   padding-left: 0.1em;
}

#taggedList {
   border-top: none;
   float: left;
   height: 356px !important;
}

.taggedFound {
   background: #ffffff;
   border: 1px solid #cccccc;
   border-bottom: none;
   clear: both;
   float: left;
   margin: 0px 4px;
   padding: 2px;
   height: 13px;
   width: 278px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.taggedFound {
   float: left;
}