.header {
   height: 16px;
   margin: 0px 0px 0px -1px;
   padding: 5px 0px 0px 4px;
   width: 260px;
}

.tabBar .help {
   left: 268px;
}

.toggle {
   left: -3px;
   margin-top: 0px;
   position: relative;
}

.containerBig, .containerBigAlt, .containerMedium, .containerSmall, .containerSearchTerms, .containerSearchResults, .containerTabMedium, #currentSpaceInfo, #myAlfrescoActions, #navigationActions, #documentActions {
   margin: 0px 4px 0px 1px;
}

#documentActionsNavigation ul {
   padding: 2px 0px 0px 24px;
}

.tabBarInline, .tabHeader, .taggedFound {
   margin: 0px 1px;
}

.taskResources {
   width: 268px;
}