.osSidebarPanel
{
   width: 190px;
}

.osPanel
{
   margin: 4px;
}
   
.osOptions
{
   margin: 6px;
   display: none;
}

.osResults
{
   margin-top: 6px;
   padding: 3px;
   background: url(../images/parts/os-background.gif) 0 0 repeat-x;
}

.osEngineTitle
{
   margin-bottom: 2px;
   border-bottom: 1px dashed #bbb;
}

.osEngineTitleText
{
   font-weight: bold;
   color: #003366;
   padding-bottom: 2px;
}

.osResultsPosition
{
   font-size: 9px;
   text-align: right;
   padding-right: 2px;
   _padding-right: 6px;
}

.osResultsPaging
{
   font-size: 9px;
   text-align: right;
   padding: 4px;
   padding-top: 6px;
}

.osResultsPaging a, .osResultsPaging a:hover, .osResultsPaging a:link, .osResultsPaging a:visited
{
   font-size: 9px;
}

.osResultNoMatch
{
   padding: 4px;
}

.osResultIcon
{
   padding-right: 6px;
   padding-top: 6px;
}

.osResultTitle
{
   font-weight: bold;
   padding-top: 4px;
}

.osResultTitle a, .osResultTitle a:hover, .osResultTitle a:link, .osResultTitle a:visited
{
   font-weight: bold;
}

.osResultSummary
{
   padding-bottom: 3px;
}