.xforms_group
{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	margin-bottom: 10px;
}

.xforms_groupHeader
{
	position: relative;
	top: 0px;
	left: px;
	height: 20px;
	line-height: 20px;
	background-color: #cddbe8;
	font-weight: bold;
	width: 100%;
}

.xforms_textArea
{
	height: 200px;
}

.xforms_repeatControl
{
	position: relative;
	white-space: nowrap;
	border: 1px solid black;
	height: 20px;
	line-height: 20px;
}

.xforms_rowEven
{
	background-color: #f0f0ee;
}

.xforms_rowOdd
{
	background-color: #ffffff;
}

.xforms_rowHover
{
	background-color: #ffffcc;
}

.xforms_error
{
	padding: 2px;
	border: 1px solid #003366;
}

.xforms_ajaxLoader
{
	position: absolute;
	top: 0px;
	right: 0px;
	color: white;
	background-color: red;
}

.xforms_filePicker_status
{
	padding: 2px;
	border: 1px solid #003366;
	font-weight: bold;
	margin: 2px 5%;
	text-align: center;
}

.xforms_filePicker_header
{
	position: relative;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: lightgrey;
	padding-left: 2px;
}

.xforms_filePicker_headerMenuTrigger
{
	padding: 2px;
	font-weight: bold;
	text-decoration: none;
	border: 1px solid lightgrey;
}

.xforms_filePicker_footer
{
	background-color: lightgrey;
	text-align: center;
	height: 30px;
	line-height: 30px;
}

.xforms_filePicker_row
{
	position: relative;
	height: 20px;
	line-height: 20px;
}

.xforms_filePicker_addContent
{
	background-color: lightgrey;
	position: absolute;
	left: 10%;
	right: 10%;
	width: 80%;
	margin-left: 4px;
	line-height: 20px;
}

.xforms_filePicker_parentPathMenu
{
	position: absolute;
	background-color: lightgrey;
	border-style: outset;
	border-width: 1px;
	line-height: 20px;
	min-width: 100px;
}
