<view:view xmlns:view="http://www.alfresco.org/view/repository/1.0"
           xmlns:cm="http://www.alfresco.org/model/content/1.0"
           xmlns:sys="http://www.alfresco.org/model/system/1.0"
           xmlns:app="http://www.alfresco.org/model/application/1.0">

    <view:reference view:pathref="${bootstrap.location.path}">
        <!-- Apply Read access to Everyone on root node of Spaces Store -->
        <view:acl>
        <view:ace view:access="ALLOWED">
            <view:authority>GROUP_EVERYONE</view:authority>
            <view:permission>Read</view:permission>
            </view:ace>
        </view:acl>
    </view:reference>
               
    <sys:container view:childName="${system.system_container.childname}">
        <sys:children>
            <sys:container view:childName="${system.people_container.childname}">
                <sys:children>
                    <cm:person view:childName="cm:person">
                        <cm:userName>admin</cm:userName>
                        <cm:firstName>Administrator</cm:firstName>
                        <cm:lastName></cm:lastName>
                        <cm:email></cm:email>
                        <cm:organizationId></cm:organizationId>
                        <cm:homeFolder>/${spaces.company_home.childname}</cm:homeFolder>
                    </cm:person>
                    <!-- Guest needs to read their own person information -->
                    <cm:person view:childName="cm:person">
                        <view:acl>
                           <view:ace view:access="ALLOWED">
                              <view:authority>guest</view:authority>
                              <view:permission>Read</view:permission>
                           </view:ace>
                        </view:acl>
                        <cm:userName>guest</cm:userName>
                        <cm:firstName>Guest</cm:firstName>
                        <cm:lastName></cm:lastName>
                        <cm:email></cm:email>
                        <cm:organizationId></cm:organizationId>
                        <cm:homeFolder>/${spaces.company_home.childname}/${spaces.guest_home.childname}</cm:homeFolder>
                    </cm:person>
                </sys:children>
            </sys:container>
            <sys:container view:childName="${system.workflow_container.childname}"/>
        </sys:children>
    </sys:container>

</view:view>