<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE beans PUBLIC '-//SPRING//DTD BEAN//EN' 'http://www.springframework.org/dtd/spring-beans.dtd'>

<!--  Activate this extension to enable AVM lookup path caching. -->
<!--  This was the default behaviour prior to 2.2 SP3 & 3.1 -->

<beans>

    <bean id="lookupCache" class="org.alfresco.repo.avm.TransactionalLookupCache">
        <property name="avmNodeDAO">
            <ref bean="avmNodeDAO"/>
        </property>
        <property name="avmStoreDAO">
            <ref bean="avmStoreDAO"/>
        </property>
        <property name="transactionalCache">
            <ref bean="avmLookupCache"/>
        </property>
    </bean>

   <!-- ===================================== -->
   <!-- AVM Lookup Cache                      -->
   <!-- ===================================== -->

   <!-- The cross-transaction shared cache for AVM lookups -->
   
   <bean name="avmLookupSharedCache" class="org.alfresco.repo.cache.EhCacheAdapter">
       <property name="cache">
           <bean class="org.springframework.cache.ehcache.EhCacheFactoryBean">
               <property name="cacheManager">
                   <ref bean="internalEHCacheManager"/>
               </property>
               <property name="cacheName">
                   <value>org.alfresco.repo.avm.lookupSharedCache</value>
               </property>
           </bean>
       </property>
   </bean>
   
   <!-- Transactional cache for AVM lookups -->

   <bean name="avmLookupCache" class="org.alfresco.repo.cache.TransactionalCache">
       <property name="sharedCache">
           <ref bean="avmLookupSharedCache"/>
       </property>
       <property name="cacheManager">
           <ref bean="transactionalEHCacheManager"/>
       </property>
       <property name="name">
           <value>org.alfresco.repo.avm.lookupTransactionalCache</value>
       </property>
       <property name="maxCacheSize">
           <value>100</value>
       </property>
   </bean>
   
</beans>
