<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE beans PUBLIC '-//SPRING//DTD BEAN//EN' 'http://www.springframework.org/dtd/spring-beans.dtd'>

<!--
	An example of how to override the emailServerConfiguration.
	For example you can change port or domain or others property.
	So here we substituted port to 2525 and added blocked senders from *.tut.by.
	Also we turn on email server (set enabled property to true).	
-->
<beans>
	
    <bean id="emailServerConfigurationProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders">
            <value>true</value>
        </property>
        <property name="locations">
            <list>
                <value>classpath:alfresco/email-server.properties</value>

                <!-- Override -->
                <value>classpath:alfresco/extension/custom-email-server.properties</value>
            </list>
        </property>
    </bean>

</beans>
