#
# Sample Hibernate configuration for changing Database dialect
# For a full list: http://www.hibernate.org/hib_docs/v3/reference/en/html_single/#configuration-optional-dialects
#

#
# Derby dialect
#
#hibernate.dialect=org.hibernate.dialect.DerbyDialect

#
# MySQL dialect (default)
#
#hibernate.dialect=org.hibernate.dialect.MySQLInnoDBDialect

#
# Oracle dialect
#
#hibernate.dialect=org.alfresco.repo.domain.hibernate.dialect.AlfrescoOracle9Dialect

#
# SQLServer dialect
#
#hibernate.dialect=org.alfresco.repo.domain.hibernate.dialect.AlfrescoSQLServerDialect
