<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE beans PUBLIC '-//SPRING//DTD BEAN//EN' 'http://www.springframework.org/dtd/spring-beans.dtd'>

<beans>

    <!--===========================-->
    <!-- ADM index tracking        -->
    <!--===========================-->

    <!-- Schedule index tracking for ADM every 10s -->
    <bean id="admIndexTrackerTrigger" class="org.alfresco.util.CronTriggerBean">
        <property name="jobDetail">
            <bean class="org.springframework.scheduling.quartz.JobDetailBean">
                <property name="jobClass">
                    <value>org.alfresco.repo.node.index.IndexRecoveryJob</value>
                </property>
                <property name="jobDataAsMap">
                    <map>
                        <entry key="indexRecoveryComponent">
                            <ref bean="admIndexTrackerComponent" />
                        </entry>
                    </map>
                </property>
            </bean>
        </property>
        <property name="scheduler">
            <ref bean="schedulerFactory" />
        </property>
        <property name="cronExpression">
            <value>0,10,20,30,40,50 * * * * ?</value>
        </property>
    </bean>
    
    <bean
          id="admIndexTrackerComponent"
          class="org.alfresco.repo.node.index.IndexRemoteTransactionTracker"
          parent="indexRecoveryComponentBase">
        <property name="remoteOnly">
            <value>true</value>
        </property>
    </bean>

    <!--===========================-->
    <!-- AVM (WCM) index tracking  -->
    <!--===========================-->

    <!-- Schedule index tracking for AVM every 60s -->
    <bean id="indexTrackerTrigger" class="org.alfresco.util.CronTriggerBean">
        <property name="jobDetail">
            <bean class="org.springframework.scheduling.quartz.JobDetailBean">
                <property name="jobClass">
                    <value>org.alfresco.repo.node.index.IndexRecoveryJob</value>
                </property>
                <property name="jobDataAsMap">
                    <map>
                        <entry key="indexRecoveryComponent">
                            <ref bean="avmIndexTrackerComponent" />
                        </entry>
                    </map>
                </property>
            </bean>
        </property>
        <property name="scheduler">
            <ref bean="schedulerFactory" />
        </property>
        <property name="cronExpression">
            <value>15 * * * * ?</value>
        </property>
    </bean>
    
    <bean
          id="avmIndexTrackerComponent"
          class="org.alfresco.repo.node.index.AVMRemoteSnapshotTracker"
          parent="indexRecoveryComponentBase">
	   <property name="avmService">
          <ref bean="avmService" />
      </property>
	   <property name="avmSnapShotTriggeredIndexingMethodInterceptor">
		   <ref bean="avmSnapShotTriggeredIndexingMethodInterceptor" />
      </property>
    </bean>

</beans>
