<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE beans PUBLIC '-//SPRING//DTD BEAN//EN' 'http://www.springframework.org/dtd/spring-beans.dtd'>

<beans>
    <!-- The authentication component.                                      -->

    <!-- Jass authentication - most of the config goes somewhere else       -->
       
    <bean id="authenticationComponent"
          class="org.alfresco.repo.security.authentication.jaas.JAASAuthenticationComponent"
          parent="authenticationComponentBase">
        <property name="realm">
            <value>DEFAULT.REALM</value>
        </property>
        <property name="jaasConfigEntryName">
            <value>Alfresco</value>
        </property>
    </bean>

    <!-- DAO that rejects changes - JAAS is read only at the moment.      -->
    <!-- It does allow users to be deleted with out warnings from the UI. -->
    <!-- The user is still present in JAAS, only the personal information is removed from alfresco. --> 
    
    <bean name="authenticationDao" class="org.alfresco.repo.security.authentication.DefaultMutableAuthenticationDao" >
        <property name="allowDeleteUser">
            <value>true</value>
        </property>
    </bean>    

</beans>