<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE beans PUBLIC '-//SPRING//DTD BEAN//EN' 'http://www.springframework.org/dtd/spring-beans.dtd'>

<beans>

   <bean id="dmPermissionsDaoComponent" class="org.alfresco.repo.domain.hibernate.OldADMPermissionsDaoComponentImpl" >
      <property name="aclDaoComponent">
         <ref bean="aclDaoComponent" />
      </property>
      <property name="protocolToACLDAO">
         <map>
            <entry key="workspace"><ref bean="nodeACLDAO"></ref></entry>
            <entry key="avm"><ref bean="avmACLDAO"/></entry>
         </map>
      </property>
      <property name="defaultACLDAO">
          <ref bean="nodeACLDAO"/>
       </property>
   </bean>
   
    <bean id="nodeACLDAO" class="org.alfresco.repo.domain.hibernate.NodeAccessControlListDAO">
        <property name="sessionFactory">
         <ref bean="sessionFactory" />
        </property>
        <property name="nodeDaoService">
            <ref bean="nodeDaoService" />
        </property>
    </bean>
    
    <bean id="patch.updateDmPermissions" class="java.util.ArrayList" />
    
       <bean id="aclDaoComponentImpl" class="org.alfresco.repo.domain.hibernate.AclDaoComponentImpl">
      <property name="sessionFactory">
         <ref bean="sessionFactory" />
      </property>
      <property name="qnameDAO">
         <ref bean="qnameDAO" />
      </property>
      <property name="patchDAO">
         <ref bean="patchDAO" />
      </property>
      <property name="avmNodeDAO">
         <ref bean="newAvmNodeDAO" />
      </property>
	  <property name="aclCache">
         <ref bean="aclCache" />
      </property>
      <property name="useOldPermissions">
         <value>true</value>
      </property>
   </bean>
    
</beans>