<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
  <session-factory>
  	<property name="connection.username">root</property>
  	<property name="connection.password"></property>
  	<property name="connection.url">jdbc:mysql://127.0.0.1/avm</property>
  	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
  	<property name="current_session_context_class">thread</property>
  	<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
  	<property name="show_sql">false</property>
    <property name="order_updates">true</property>
  	<property name="connection.isolation">2</property>
  	<property name="c3p0.min_size">5</property>
  	<property name="c3p0.max_size">20</property>
  	<property name="c3p0.timeout">900</property>
  	<property name="c3p0.max_statements">500</property>
<!--  <property name="cache.use_query_cache">true</property> -->
  	<mapping resource="org/alfresco/repo/avm/hibernate/AVM.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
