<div class="datePickerContainer" dojoAttachPoint="datePickerContainerNode">
	<table cellspacing="0" cellpadding="0" class="calendarContainer">
		<thead>
			<tr>
				<td class="monthWrapper" valign="top">
					<table class="monthContainer" cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td class="monthCurve monthCurveTL" valign="top"></td>
							<td class="monthLabelContainer" valign="top">
								<span role="button" tabIndex="0"  aria-labelledby="increase-week-label" dojoAttachPoint="increaseWeekNode" 
									dojoAttachEvent="onClick: onIncrementWeek; onKey: onIncrementWeekPressed;" 
									class="incrementControl increase">
									<img src="${dojoRoot}src/widget/templates/images/incrementMonth.png" 
									alt="&darr;" style="width:7px;height:5px;" />
								</span>
								<span role="button" tabIndex="0"  aria-labelledby="increase-month-label"
									dojoAttachPoint="increaseMonthNode" 
									dojoAttachEvent="onClick: onIncrementMonth; onKey: onIncrementMonthPressed;" class="incrementControl increase">
									<img src="${dojoRoot}src/widget/templates/images/incrementMonth.png" 
										alt="&darr;"  dojoAttachPoint="incrementMonthImageNode">
								</span>
								<span role="button" tabIndex="0"  aria-labelledby="decrease-week-label"
									dojoAttachPoint="decreaseWeekNode" 
									dojoAttachEvent="onClick: onIncrementWeek; onKey: onIncrementWeekPressed;" 
									class="incrementControl decrease">
									<img src="${dojoRoot}src/widget/templates/images/decrementMonth.png" alt="&uarr;" style="width:7px;height:5px;" />
								</span>
								<span role="button" tabIndex="0" aria-labelledby="decrease-month-label"
									dojoAttachPoint="decreaseMonthNode" 
									dojoAttachEvent="onClick: onIncrementMonth; onKey: onIncrementMonthPressed;" class="incrementControl decrease">
									<img src="${dojoRoot}src/widget/templates/images/decrementMonth.png" 
										alt="&uarr;" dojoAttachPoint="decrementMonthImageNode">
								</span>
								<span aria-live="polite" dojoAttachPoint="monthLabelNode" class="month"></span>
							</td>
							<td class="monthCurve monthCurveTR" valign="top"></td>
						</tr>
					</table>
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="3">
					<table class="calendarBodyContainer" cellspacing="0" cellpadding="0" border="0">
						<thead>
							<tr dojoAttachPoint="dayLabelsRow">
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</thead>
						<tbody dojoAttachPoint="calendarDatesContainerNode" 
							dojoAttachEvent="onClick: _handleUiClick; onKey: _handleUiPress;">
							<tr dojoAttachPoint="calendarWeekTemplate">
								<td role="button" tabIndex="0"></td>
								<td role="button" tabIndex="0"></td>
								<td role="button" tabIndex="0"></td>
								<td role="button" tabIndex="0"></td>
								<td role="button" tabIndex="0"></td>
								<td role="button" tabIndex="0"></td>
								<td role="button" tabIndex="0"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3" class="yearWrapper">
					<table cellspacing="0" cellpadding="0" border="0" class="yearContainer">
						<tr>
							<td class="curveBL" valign="top"></td>
							<td valign="top">
								<div class="yearLabel">
									<span role="button" tabIndex="0" dojoAttachPoint="previousYearLabelNode"
										dojoAttachEvent="onClick: onIncrementYear; onKey: onIncrementYearPressed;" class="previousYear"></span>
									<span aria-live="polite" class="selectedYear" dojoAttachPoint="currentYearLabelNode"></span>
									<span role="button" tabIndex="0" dojoAttachPoint="nextYearLabelNode" 
										dojoAttachEvent="onClick: onIncrementYear; onKey: onIncrementYearPressed;" class="nextYear"></span>
								</div>
							</td>
							<td class="curveBR" valign="top"></td>
						</tr>
					</table>
				</td>
			</tr>
		</tfoot>
	</table>
	
</div>
