/* ***************************************************************************** */
/* *** styles for Chiba website *** */
body{
  background-color:white;
   font-family: Tahoma, Arial, Helvetica, sans-serif;
}
*{
   font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size:11px;
    color:black;
}
a:hover{color:#dd5300;}

td{
   font-family: Tahoma, Arial, Helvetica, sans-serif;
}
li{
    padding-right:10px;
    margin-bottom:2px;
}
.title{
    display:block;
    font-weight:bold;
    font-size:11px;
    margin-bottom:10px;
    }

.subtitle{
    display:block;
    font-weight:bold;
    margin-bottom:5px;
    border-bottom:thin solid #cccccc;
    margin-right:10px;
    color:#4C5C5C;
    }

.subtitle a{
    color:#4C5C5C;
}

.para{
    display:block;
    margin-bottom:10px;
    margin-right:10px;
    }
#dear{
    display:block;
    margin-bottom:2px;
    }

.donate{
    border-right:thin groove;
    width:110px;
    padding-top:10px;
    }
#donation-text{
    font-weight:bold;
    display:block;
    font-size:8pt;
    padding:5px;
    }
.donation-button{
}

.donation-button:hover{
    border-color:orange;
}

.content-area{
    padding-left:10px;
    padding-top:10px;
    background:white;
    border-right:thin groove;
}

#news{
    padding-left:10px;
    padding-top:10px;
    width:150px;
}
.headline{
border:thin solid;
border-color:#4C5C5C;
-moz-border-radius:6px;
margin-bottom:5px;
padding:3px;
background:#FCF6E3;
}
.headline *{
color:#4C5C5C;
}
.headline .para{
font-style:italic;
}
.date{
display:block;
border-bottom:thin solid #4c5c5c;
margin-bottom:3px;
}
#osi{
display:block;
border:thin solid;
border-color:#4C5C5C;
-moz-border-radius:6px;
margin-bottom:5px;
padding:3px;
background:white;
text-align:center;
}
#main{
border:thin solid #4C5C5C;
padding:10px;
margin-bottom:10px;
margin-right:10px;
background:#FCF6D3;
-moz-border-radius:6px;
}

#main *{color:#4C5C5C;}
#nav {
  border-bottom:thin groove #4C5C5C;
}
#footer{
  border-top:thin groove;
  padding-top:10px;
}

.questions{
    display:block;
    margin-right:10px;
    margin-bottom:20px;
    border-bottom:thin groove;
    padding-bottom:10px;

}
.questions a{
    margin-bottom:3px;
}
.answers .para{
    line-height:1.4;
    text-align:justify;
}