/* the style of the div around each node */
.ygtvitem { }  

/* the style of the div around each node's collection of children */
.ygtvchildren {  }  
* html .ygtvchildren { height:2%; }  

.ygtvspacer 
{ 
   height: 10px; 
   width: 10px; 
   margin: 2px; 
}

.treeNode
{
   cursor: pointer;
}

.treeNodeLabel
{
   white-space: nowrap;
}

.treeNodeSelected
{
   background-color: #d3e6fe;
}


