<span>
	<input style="display:none"  tabindex="-1" name="" value="" 
		dojoAttachPoint="comboBoxValue">
	<input style="display:none"  tabindex="-1" name="" value="" 
		dojoAttachPoint="comboBoxSelectionValue">
	<table class="dojoComboBox"
		cellpadding="0"
		cellspacing="0"
		border="0"
		dojoAttachPoint="cbTableNode">
		<tr>
			<td><input type="text" autocomplete="off" class="dojoComboBoxInput"
					dojoAttachEvent="keyDown: onKeyDown; keyUp: onKeyUp; keyPress: onKeyPress; compositionEnd; onResize"
					dojoAttachPoint="textInputNode"></td>
			<td><img border="0" 
					hspace="0"
					vspace="0"
					class="dojoComboArrow"
					dojoAttachPoint="downArrowNode"
					dojoAttachEvent="onMouseUp: handleArrowClick;"
					src="${this.buttonSrc}"
					style="width: ${this.initialButtonSize}; height: ${this.initialButtonSize};"></td>
		</tr>
	</table>
</span>
