 
/* indent for all tree children excepts root */
.TreeNode {
    background-image : url('../templates/images/TreeV3/i.gif');
    background-position : top left;
    background-repeat : repeat-y;
    margin-left: 19px;
    zoom: 1;
}
.TreeIsRoot {
    margin-left: 0;
}
 
/* left vertical line (grid) for all nodes */
.TreeIsLast {
    background-image: url('../templates/images/TreeV3/i_half.gif');
    background-repeat : no-repeat;
}
 
 
.TreeExpandOpen .TreeExpand {
    background-image: url('../templates/images/TreeV3/expand_minus.gif');
}
 
/* closed is higher priority than open */
.TreeExpandClosed .TreeExpand {
    background-image: url('../templates/images/TreeV3/expand_plus.gif');
}
 
/* highest priority */
.TreeExpandLeaf .TreeExpand {
    background-image: url('../templates/images/TreeV3/expand_leaf.gif');
}

.TreeExpandLoading .TreeExpand {
    background-image: url('../templates/images/TreeV3/expand_loading.gif');
}
 
 
 
.TreeContent {
    min-height: 18px;
    min-width: 18px;
    margin-left:18px;
    cursor: default;
    /* can't make inline - multiline bugs */
}

.TreeIEContent {
	height: 18px;
}
 
.TreeExpand {
    width: 18px;
    height: 18px;
    float: left;
    display: inline;
    background-repeat : no-repeat;
}
 
 
/* same style as IE selection */
.TreeNodeEmphased {
    background-color: Highlight;
    color: HighlightText;
}
 
 
.TreeContent .RichTextEditable, .TreeContent .RichTextEditable iframe {
      background-color: #ffc;
      color: black;
}

