body, td, p {
  font-family:verdana;
  font-size:10pt;
}

a {
  color: rgb(110, 110, 110); 
  text-decoration: none; 
}

a:hover {
	text-decoration: underline; 
}

div.nav2 {
  background-color:#5c5c4f;
  color:#ffffff;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  line-height: 12px;
  border: 0px;
  margin-left: 0px;
  margin-right: 1px;
  margin-top: 1px;
  margin-bottom: 0px;
  padding-top:5px;
  padding-bottom:5px;
  width:174px;
   cursor: pointer;
}

div.innerNav {
	position:relative;
	left:10px;
}

a.nav {
  font-size: 12px; 
  font-weight: bold; 
  text-decoration: none; 
  line-height: 12px;
  width:100%; 
  background-color:#5c5c4f;
  color:#ffffff;
  border: 0px;
  margin-left: 0px;
  margin-right: 1px;
  margin-top: 1px;
  margin-bottom: 0px;
  padding-left:10px;
  padding-right:10px;
  padding-top:5px;
  padding-bottom:5px;
}

div.nav {
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  line-height: 12px;
  width:174;
  background-color:#5c5c4f;
  color:#ffffff;
  border: 0px;
  height: 20px;
  margin-left: 0px;
  margin-right: 1px;
  margin-top: 1px;
  margin-bottom: 0px;
  vertical-align:middle;
  padding-left:10px;
  padding-top:5px;
  padding-bottom:5px;
}

a.ref {
  padding: 5px; 
  color: rgb(110, 110, 110); 
  text-decoration: none; 
  font-size: 11px; 
  line-height: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family:arial;
  color:purple;
  border-bottom:0px;
  margin-bottom:0px;
  padding-bottom:0px;
}

td.tablecell {
  padding-left:10px;
  padding-right:10px;
  background-color:#eeeeee;
}

th.tableheader {
  text-align:center;
  text-weight:bold;
  padding-right:10px;
  padding-left:10px;
  color:#ffffff;
  background-color:#999999;
}
