<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE beans PUBLIC '-//SPRING//DTD BEAN//EN' 'http://www.springframework.org/dtd/spring-beans.dtd'>

<beans>

    <bean id="lifecycle.workflowBootstrap" parent="workflowDeployer">
		<property name="workflowDefinitions">
			<list>
				<!-- Activiti version of lifecycle process -->
				<props>
					<prop key="engineId">activiti</prop>
					<prop key="location">alfresco/extension/lifecycle-process.bpmn20.xml</prop>
					<prop key="mimetype">text/xml</prop>
					<prop key="redeploy">false</prop>
				</props>
			</list>
		</property>
		<property name="models">
			<list>
                <value>alfresco/extension/lifecycleModel.xml</value>
			</list>
		</property>
		<property name="labels">
			<list>
                <value>alfresco/extension/lifecycle-messages</value>
			</list>
		</property>
	</bean>

</beans>
